<div class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">「いつでも、どこでも聴ける音楽」をモットー</h2>
          <hr class="divider divider-light">
            <p class="text-white-75 mb-4">あなたの楽曲についての意見や音楽シーンの交流の場として<br>
                Band Houseをお使いください。<br>
                ５段階で自己評価した楽曲を投稿し、<br>
                みんなからの意見やバンドについての意見をもらいましょう。<br>
                バンドメンバー募集などにもお使いください。<br></p><br>
            <%= link_to "早速始めよう", new_user_registration_path , class: "btn btn-primary btn-xl" %>
      </div>
    </div>
  </div>
</div>