<div class="about-visual">
  <h1 class="about-text">
    「いつでも、どこでも聴ける音楽」をモットーに
    <br>
  </h1>
  <h2 class="about-more">
    あなたの楽曲についての意見や音楽シーンの交流の場として<br>
    Band Houseをお使いください。<br>
    ５段階で自己評価した楽曲を投稿し、<br>
    みんなからの意見やバンドについての意見をもらいましょう。<br>
    バンドメンバー募集などにもお使いください。<br>
  </h2>
  
</div>