/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


// top
.main-visual {
  background-image: image-url('gahag-0071430289-1.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
}

.top-text {
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.5);
}

// header
.navbar {
  margin-bottom: 40px;
}

.navbar-text {
  margin-right: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
}

.navbar-toggler {
  background-color: #224b37;
}

//footer
footer  {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #ffffff;
}

.footer-logo {
    display:flex;
    justify-content: center;
}

.site-info {
    text-align: center;
    margin-top: 10px;
    font-size: 8px;
}

.sign_up_form {
  justify-content: center;
}

//music index
.jacket {
  padding-top: 5px;
}

.music-show {
    text-align: center;
    margin-top: 10px;
}

.comment {
    text-align: center;
    width: 50px;
    margin-top: 10px;
}

.comment-form {
    text-align: center;
    margin-top: 10px;
}

.music-show-profile {
   text-align: center;
}
