/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Montserrat:wght@300&family=Reggae+One&display=swap');


:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #FFDEAD;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 244, 98, 58;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

body {
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
  line-height: 1.8;
  color: #000000;
  background-image: none;
  background-color: #ffffff;
  margin: 0 auto;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: image-url('gahag-0071430289-1.jpg'),linear-gradient(to bottom, rgba(100, 100, 100, 0.8) 0%, rgba(100, 100, 100, 0.8) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

hr.divider-light {
  background-color: #fff;
}


.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu-dark .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}

.page-section {
  padding: 8rem 0;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-opacity-10 {
  --bs-bg-opacity: 0.1;
}

.bg-opacity-25 {
  --bs-bg-opacity: 0.25;
}

.bg-opacity-50 {
  --bs-bg-opacity: 0.5;
}

.bg-opacity-75 {
  --bs-bg-opacity: 0.75;
}

.bg-opacity-100 {
  --bs-bg-opacity: 1;
}

.form-button {
    background-color: #0066CC;
    color: #fff;
    border-style: none;
    padding: 10px 30px;
    border-radius: 2px;
    width: 150px;
}


// top
.main-visual {
  background-image: image-url('gahag-0071430289-1.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
}

.top-text {
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.5);
}


.about-visual {
  background-image: image-url('about.png');
  width: 100%;
  height: 450px;
  background-size: cover;
}

.about-text {
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.5);
}

.about-more {
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: center;
}
// header
.navbar {
  margin-bottom: 40px;
}

.navbar-text {
  margin-right: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
}

.navbar-toggler {
  background-color: #FF8C00;
}

//footer
footer  {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #ffffff;
}

.footer-logo {
    display:flex;
    justify-content: center;
}

.site-info {
    text-align: center;
    margin-top: 10px;
    font-size: 8px;
}

.sign_up_form {
  justify-content: center;
}

//music index
.jacket-image {
    width:  100%;
    height: 10vh;
    object-fit: cover;
    text-align: center;
}

.music-show {
    text-align: center;
    margin-top: 10px;
}

.comment {
    text-align: center;
    width: 50px;
    margin-top: 10px;
}

.comment-form {
    text-align: center;
    margin-top: 10px;
}

.music-show-profile {
   text-align: center;
}

.show-name {
 text-align: center;
}

.show-image{
  text-align: center;
}

.show-content{
  text-align: left;
}

.song-image {
    text-align: center;
    margin-top: 20px;
}

.music-evaluation {
  text-align: center;
}


.edit-form {
  text-align: center;
}

.search-form{
  box-sizing: border-box;
  padding-top: 25px;
}
.search-form input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 200px;
  overflow: hidden;
}
.search-form input[type="text"]:focus {
  outline: 0;
}

.search-form input[type="tag"]{
  border: 1px solid #999;
  padding: 5px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 120px;
  overflow: hidden;
}

.search-form input[type="submit"]{
  margin-top: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20%;
  background: #FF82B2;
  color: #fff;
  outline : none;
  height: 2.2em
}
.jacket-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    text-align: center;
}
audio.audio-form {
  width: 286px;
}

  .favorite-content{
    justify-content: center;
  }

  .iine{
    text-align: center;
  }

  .item_image_btn{
    display: none;
  }

  #img_field {
    font-size: 20px;
    font-style: inherit;
    margin: 0 auto;
    color: white;
    background-color: #00CCFF;
    border-radius: 7px;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

/* タブレット縦置きサイズ（992px）以下の際に適用される設定 */
@media screen and (max-width:992px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
   .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  header.masthead {
    height: 100vh;
    min-height: 20rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    font-size: 1rem;
  }
  .navbar {
  margin-bottom: 40px;
}

.navbar-text {
  margin-right: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 12px;
}

.navbar-toggler {
  background-color: #FF8C00;
}


.jacket-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    text-align: center;
}
  .show-image{
    width:  100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
  }
  .show-content{
  text-align: center;
}
  .time-line-content{
    margin-top: 50px;
    text-align: center;
  }

  .user-show-text{
    font-size: 18px;
  }

  .show-timeline{
    text-align: center;
  }


}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
.search-form{
  box-sizing: border-box;
  padding-top: 25px;
}
.search-form input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 120px;
  overflow: hidden;
}
.search-form input[type="text"]:focus {
  outline: 0;
}

.search-form input[type="tag"]{
  border: 1px solid #999;
  padding: 5px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 120px;
  overflow: hidden;
}

.search-form input[type="submit"] {
  margin-top: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20%;
  background: #FF82B2;
  color: #fff;
  outline : none;
  height: 2.2em
}
  .iine{
    text-align: center;

  }
  .show-image{
    width:  100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
  }
  .show-content{
  text-align: center;
}
  .time-line-content{
    margin-top: 50px;
  }


  .jacket-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    text-align: center;
}
  .user-show-text{
    font-size: 18px;
  }

  .show-timeline{
    text-align: center;
  }
}