<footer>
  <div class="container mt-5">
     <div class='row'>
        <div class='mx-auto'>
      <h1  class="footer-logo"><%= link_to image_tag("logo.png", height:"80px"), root_path %></h1>
      <p class="site-info">
          <span>BandHouse 　いつでもどこでも聴ける音楽</span><br>
          <span><%= link_to "お問い合わせフォーム", new_contact_path %></span>
      </p>
      </div>
    </div>
  </div>
</footer>